<div class="container-fluid d-flex justify-content-center align-items-center align-self-center" id="bg">
    <div class="container">
        <div class="col-12 col-md-6f">
          <div class="p-md-5">
            <div class=" rounded-3">
              <h2 class="mb-3">Forgot Password </h2>
              <!-- <p class="text-center">Login via Phone Number and OTP</p> -->

              <div class="row d-flex py-3">
                <div class="col-6">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" (change)="showFirstDiv = true; showSecondDiv = false" checked>
                    <label class="form-check-label" for="flexRadioDefault1">
                      PhoneNumber
                    </label>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" (change)="showFirstDiv = false; showSecondDiv = true">
                    <label class="form-check-label" for="flexRadioDefault2">
                      Email
                    </label>
                  </div>
                </div>
              </div>


              <!-- First Dev -->
              <div id="firstDiv" *ngIf="showFirstDiv">
  
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                  <div class="col-12 mb-3" *ngIf="hidebutton">
                    <div class="form-floating">
                      <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                        maxlength="10" type="phone" formControlName="phoneNumber" class="form-control" id="floatingInput"
                        placeholder="h" autocomplete="off">
                      <label for="floatingInput">Phone Number: <span style="color: red;">*</span></label>
                    </div>
                    <button class="btn btn-primary mt-3" type="submit">Send OTP</button>
                  </div>
                  <div>
                  </div>
  
  
                  <div class="col-12 mb-3">
                    <div *ngIf="showOTPForm">
                      <div class="d-flex mb-3" style="align-items: center;">
                        <span class="me-3" id="darkbluetext">OTP sent to {{ form.value.phoneNumber }} </span><a href="#"
                          class="fs-3" (click)="back()" id="darkbluetext"><i class="fa-solid fa-arrow-left"></i></a>
                      </div>
                      <div class="mb-3">
                        <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)"
                          [config]="{length:4,inputClass:'dot',allowNumbersOnly:true}"></ng-otp-input>
                      </div>
                      <button class="btn btn-primary me-3" type="submit" (click)="onVerifyOTP()">Verify
                        OTP</button>
                      <!-- <span *ngIf="otp" class="o-t-p">Entered otp :-{{otp}}</span> -->
  
                      <button class="btn text-white" type="submit">Resend OTP</button>
  
  
                    </div>
  
                  </div>
                </form>
  
  
              </div>

              <!-- Second Dev -->
              <div id="secondDiv" *ngIf="showSecondDiv">
  
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                  <div class="col-12 mb-3" *ngIf="hidebutton">
                    <div class="form-floating">
                      <input 
                       type="email" formControlName="email" class="form-control" id="floatingInput"
                        placeholder="h" autocomplete="off">
                      <label for="floatingInput">Email Address: <span style="color: red;">*</span></label>
                    </div>
                    <button class="btn btn-primary mt-3" type="submit">Send OTP</button>
                  </div>
                  <div>
                  </div>
  
  
                  <div class="col-12 mb-3">
                    <div *ngIf="showOTPForm">
                      <div class="d-flex mb-3" style="align-items: center;">
                        <span class="me-3" id="darkbluetext">OTP sent to {{ form.value.phoneNumber }} </span><a href="#"
                          class="fs-3" (click)="back()" id="darkbluetext"><i class="fa-solid fa-arrow-left"></i></a>
                      </div>
                      <div class="mb-3">
                        <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)"
                          [config]="{length:4,inputClass:'dot',allowNumbersOnly:true}"></ng-otp-input>
                      </div>
                      <button class="btn btn-primary me-3" type="submit" (click)="onVerifyOTP()">Verify
                        OTP</button>
                      <!-- <span *ngIf="otp" class="o-t-p">Entered otp :-{{otp}}</span> -->
  
                      <button class="btn text-white" type="submit">Resend OTP</button>
  
  
                    </div>
  
                  </div>
                </form>
  
  
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>