<section class="hero">
    <h1>Welcome to Elder360</h1>
    <p>We are here to provide assistance to our beloved elders in the community.</p>
    <a href="#" class="btn">Learn More</a>
</section>
<main>
    <section class="about-us">
    <app-payment></app-payment>
        <h2>About Us</h2>
        <p>Elders Helping is a non-profit organization dedicated to providing support and assistance to elderly individuals in our community. We believe that every elderly person deserves to live a happy and healthy life, and we work to make that possible by providing a range of services and resources.</p>
    </section>
    <section class="services">
        <h2>Our Services</h2>
        <ul>
            <li>Companionship</li>
            <li>Meal preparation and delivery</li>
            <li>Transportation to appointments and errands</li>
            <li>Housekeeping and home maintenance</li>
            <li>Assistance with personal care</li>
        </ul>
    </section>
    <p>{{message1}}</p>
<button class="btn btn-primary" (click)="myclick()">click</button>


</main>
<footer>
    <p>&copy; Elder360 2023</p>
</footer>